@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: 'Bebas Neue Bold';
    src: url(../fonts/BebasNeue-Bold.ttf) format('truetype');
}


body {
    background-image: url(../images/toronto-nightlights.jpg);
    background-position: top center;
    background-attachment: fixed;
    background-size: cover;
    max-width: 1200px;
    margin: 5.5rem auto 1rem;
}

/* Shared Styles
**********************************************************/
.main-btn,
.card-btn:hover,
.contact-card-icon,
.submit-btn,
.social-link:hover { background-color: #4ed0aa; }

.btn:hover,
.selected { background-color: #3fa889; }

.card-btn,
.main-content { background-color: #ffffff; }

.name,
.navbar-nav .nav-item .nav-link:hover,
.btn:hover,
.main-btn,
.submit-btn,
.social-link:hover {color: #ffffff;}

.subtitle, 
.navbar-nav .nav-item .nav-link,
p,
.contact-card,
input,
.social-link { color: #666; }

.heading,
.card-title { color:#515A5F; }

.navbar,
.heading { font-family: 'Bebas Neue Bold', sans-serif; }

p,
.btn,
.card-title,
.input { font-family: 'Open Sans', sans-serif; }

.btn,
.card,
.card-img-top,
.form-control { border-radius: 0; }

.contact-card-icon,
.contact-card-info,
.social-link { text-align: center; }

/* Navbar
**********************************************************/

.navbar-light { background-color: #4ed0aa !important; }

.nav-photo {
    width: 11rem;
    height: 11rem;
    position: absolute;
    top: -4.5rem;
    left: 2rem;
}
.nav-photo img {
    width: 11rem;
    height: 11rem;
    border: 5px solid #ffffff;
}

.navbar-nav { margin-left: auto; }
.navbar-toggler { float: right; }

.navbar-nav .nav-item .nav-link {
    font-size: 1.8rem;
    padding: .75rem 1.25rem;
    line-height: 100%;
    transition: color .15s ease-in-out;
}

.name {
    font-size: 3.25rem;
    margin-bottom: 0;
    padding: .25rem 0 3rem 12rem;
}

.subtitle {
    font-size: 2rem;
    position: absolute;
    top: 4.5rem;
    left: 14rem;
}

/* Main Content of Page
********************************************************************/

.main-content {
    margin-top: 1.25rem;
    padding: 2.5rem;
}

.heading {
    font-size: 3.25rem;
    padding-bottom: .75rem;
    border-bottom: 5px solid #4ed0aa;
    margin-bottom: 1.25rem;
}

p { font-size: 1.25rem; }

.btn {
    font-size: 1.25rem;
    box-shadow: inset 0 12px 19px rgba(255,255,255,0.1), 0 1px 7px rgba(0,0,0,0.2);
}

/* About Me Content
*********************************************************************/

.img-fluid { 
    float: right;
    max-width: 30%;
    min-width: 14rem; 
    margin: .25rem 0 1.5rem 1.75rem;
}

.main-btn {
    border: none;
    line-height: 3.5rem;
    height: 4rem;
    width: 15.5rem;
    margin-top: 1rem;
}

/* Portfolio Cards
***********************************************************************/

.card { margin: .25rem 0 1.7rem 0; }

.card,
.card-img-top {
    border: none;
    box-shadow: inset 0 12px 19px rgba(255,255,255,0.1), 0 1px 7px rgba(0,0,0,0.2);
}
.card-img-top {
    width: 100%;
    height: 17rem;
    object-fit: cover;
}

.card-body.upper {
    height: 12rem;
    border-top: .3rem solid #4ed0aa; 
}
.card-title { font-weight: bold;}

.card-body.lower { border-top: .05rem solid #83DEC3; }
.card-btn {
    color: #4ed0aa; 
    border: 1px solid #4ed0aa;
    line-height: 2rem;
    height: 3rem;
    width: 9.5rem;
}
.card-btn.right { float: right; }

/* Contact Page
*********************************************/

.contact-card {
    margin-bottom: 1.25rem;
    border: 1px solid #ced4da;
}
.contact-card-icon {
    display: inline-block;
    width: 30%;
    height: 3.1rem;
    font-size: 1.6rem;
    line-height: 3.1rem;
}
.contact-card-info {
    display: inline-block;
    width: 65%;
}
.contact-card-info p { margin-bottom: 0; }

.submit-btn {
    border: none;
    float: right;
    height: 3rem;
    width: 11rem;
}

/* Footer
*********************************************/

footer {
    background-color: #414146;
    color: #d5d5d5;
    padding: 2rem 2rem;
    border-bottom: 1.25rem solid #4ed0aa;
    margin-top: 1.25rem;
}

.footer-text {
    color: #cccccc;
    line-height: 3.2rem;
    height: 3.2rem;
    margin: 0;
}

.social-link {
    float: right;
    width: 3.1rem;
    height: 3.1rem;
    background-color: #cccccc;
    font-size: 1.6rem;
    line-height: 3.1rem;
    margin-left: .5rem;
    border-bottom: 5px solid #4ed0aa;
    transition: color,background-color .30s ease-in-out;
}

/* Media Queries 
***************************************************/

@media only screen and (max-width: 1280px) {

    body { margin: 4rem 2.5rem 1rem; }

    .nav-photo {
        width: 9rem;
        height: 9rem;
        top: -3rem;
    }
    .nav-photo img {
        width: 9rem;
        height: 9rem;
    }

    .name {
        font-size: 2.75rem;
        padding: .25rem 0 3rem 10rem;
    }

    .subtitle {
        font-size: 1.6rem;
        top: 4.25rem;
        left: 12rem;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 1.5rem;
        padding: .5rem 1rem;
    }

    .heading {
        font-size: 2.75rem;
        margin-bottom: 1rem;
    }

    p { font-size: 1rem; }

    .btn { font-size: 1rem; }
    .main-btn {
        line-height: 2.25rem;
        height: 3rem;
        width: 13rem;
    }

    .card-body.upper { height: 9.5rem; }

    .card-btn {
        line-height: 1.75rem;
        height: 2.5rem;
        width: 8rem;
    }
}

@media only screen and (max-width: 900px) {

    body { margin: 4rem 1.75rem 1rem; }

    .navbar-nav .nav-item .nav-link {
        font-size: 1.4rem;
        padding: .5rem .85rem;
    }

    .card-img-top { height: 14rem; }

    .card-btn {
        line-height: 2rem;
        height: 3rem;
        width: 7.5rem;
    }
}

@media only screen and (max-width: 767px) {
    
    .name { padding: .25rem 0 3rem 10.5rem; }
    
    .subtitle { left: 11.6rem; }

    .navbar-nav .nav-item .nav-link {
        text-align: center;
        font-size: 1.6rem;
        max-width: 10rem;
        margin: auto;
    }

    .card-img-top { height: 20rem; }

    .card-body.upper { height: 8.5rem; }

    .card-btn {
        line-height: 1.75rem;
        height: 2.5rem;
        width: 8rem;
    }
}

@media only screen and (max-width: 540px) {

    body { margin: 3.5rem 1rem .75rem; }

    .main-content { padding: 1.8rem; }

    .nav-photo { left: 1.25rem; }

    .name {
        font-size: 2.65rem;
        padding: .25rem 0 3rem 9.75rem;
    }
    
    .subtitle { left: 10.85rem; }

    .heading {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 442px) {

    body { margin: 1rem 1rem .75rem; } 

    .main-content { padding: 1.25rem; }

    .nav-photo { display: none; }

    .name { padding: .25rem 0 1.5rem .8rem; }
    
    .subtitle {
        top: 3.5rem;
        left: 1.9rem;
    }

    .img-fluid {
        float: none;
        display: block;
        margin: 0 auto .75rem;
    }

    .main-btn {
        display: block;
        margin: 0 auto;
    }

    .card-img-top { height: 12rem; }

    .card-body.upper {
        padding: .75rem;
        height: 8.5rem;
    }

    .card-body.lower {
        padding: .75rem;
        text-align: center;
    }
    .card-btn { margin: .5rem; }
    .card-btn.right { float: none; }
}